/*
 * Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU GPLv2+ license
 * Written by Nefertumm
 */


[worldserver]

########################################
# Custom Deserter Module Configuration file
########################################
#
#    DeserterBaseDuration
#        Description: Duração básica para o desertor, em minutos.
#        Default:     30 - 30 minutes
#
#

DeserterBaseDuration = 30

########################################
#
#    DeserterDays
#        Description: A partir de quantos dias o script começará a contar a quantidade de desertores que o jogador tinha. Deixe-o em 0 para que ele conte todos eles independentemente do tempo.
#        Default:     7 days
#
#

DeserterDays = 7
